

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  text-shadow: 3px 5px 4px black;
  color: #dedede;
  transition: all 1s;
}

text, p {
  pointer-events: none;
}

.accordion-wrapper {
  flex: 1;
  display: flex;
  gap: 0.1rem;
}

details#interaction {
  --bg: url('/assets/interactionPluginCover.webp');
}

details#dialogue {
  --bg: url('/assets/dialoguePluginCover.webp');
}

details#inventory {
  --bg: url('/assets/inventoryPluginCover.webp');
}

details#launcher {
  --bg: url('/assets/projectLauncherCover.webp');
}

details#dialoguer {
  --bg: url('/assets/dialoguerToolCover.webp');
}

details#inventoryManager {
  --bg: url('/assets/inventoryManagerCover.webp');
}

details {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: var(--bg) center / cover no-repeat;
  transform-origin: center center;
  border: none;
  filter: grayscale(100%) blur(4px);
  transition: flex 0.5s ease, filter 0.5s ease;
}

details[open] {
  flex: 0 0 60%;
  filter: none;
}

details:not([open]):hover {
  flex: 2 1 0%;
  filter: none;
}

summary::marker {
  content: '';
}

summary {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem;
  writing-mode: vertical-lr;
  font-size: 3rem;
  font-weight: bold;
  transition: opacity 0.5s ease;
  opacity: 1;  
}

details[open] summary {
  opacity: 0;  
}

details:not([open]) summary {
  opacity: 1;
}

details:hover,
details:has(summary:focus) {
  outline: 3px solid transparent;
  outline-offset: 3px;
}

.details-content-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  display: flex;
  gap: 0.25rem;
  opacity: 0;
  transform: translateY(20px);
  flex-wrap: nowrap;
  align-items: flex-start;
  pointer-events: none;  
}

ul {
  list-style-position: inside;
}

details.animate-in .details-content-wrapper {
  animation: slideIn 0.5s ease 0.5s forwards;
}

.card-actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.btn {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  color: #dedede;
  transition: background 0.3s ease;
  flex-direction: row;
  align-items: center;
  pointer-events: all;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn-secondary {
  background: rgba(0, 0, 0, 0.4);
}

.btn-secondary:hover {
  background: rgba(0, 0, 0, 0.6);
}

.deprecated {
  text-decoration: line-through;
}

img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.4em;
  filter: drop-shadow(3px 5px 4px black);
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

details[open] h3 {
  font-size: 3rem;
}

details:not([open]) h3 {
  font-size: 0rem;
}

.details-content-wrapper p {
  font-size: 1.5rem;
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 14px;
  }
}

@layer baselayout {
  html {
    color: #444;
    font-family: system-ui;
    line-height: 1.42;
  }
}

@layer code {
  pre {
    border: 1px solid #dedede;
    padding: 1em;
    background: #f7f7f7;
    overflow-x: auto;
  }

  code {
    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;
  }
}