<!-- Basic Meta -->
<meta charset="UTF-8" />
<meta http-equiv="Content-Language" content="en" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Dominik Morse">
<meta name="description"
    content="Official documentation of all Mountea open-source library of plugins and tools for (not just) Unreal Engine developers.">

<title>Mountea Framework Docs</title>
<meta name="theme-color" content="#1E88E5">

<!-- Favicons & Touch Icons -->
<link rel="icon" href="/assets/icon.webp" sizes="192x192" type="image/webp">
<link rel="icon" href="/assets/icon.png" sizes="192x192" type="image/png">
<link rel="apple-touch-icon" href="/assets/icon.webp" sizes="512x512">
<link rel="apple-touch-icon" href="/assets/icon.png" sizes="512x512">

<!-- PWA Manifest -->
<link rel="manifest" href="/manifest.json">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="Mountea Framework Docs">
<meta property="og:description"
    content="Official documentation of all Mountea open-source library of plugins and tools for (not just) Unreal Engine developers.">
<meta property="og:url" content="https://mountea.tools">
<meta property="og:image" content="https://mountea.tools/assets/mounteaCover.png">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MounteaFramework">
<meta name="twitter:title" content="Mountea Framework Docs">
<meta name="twitter:description"
    content="Official documentation of all Mountea open-source library of plugins and tools for (not just) Unreal Engine developers.">
<meta name="twitter:image" content="https://mountea.tools/assets/mounteaCover.png">